<!DOCTYPE html>
<html ng-app="crudAtendimento">
<head>
<meta charset="UTF-8">
<script src="lib/angular.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<title>Sistema Atendimento - Cassimiro</title>
</head>
<body>

	<div ng-controller="AtendimentoController" clas="well" style="width:700px; margin-top: 60px; margin-left: auto; margin-right: auto;">
		
		<button class="btn btn-default" ng-click="novo();">Novo</button>
		
		<button class="btn btn-default" ng-click="salvar();">Salvar</button>
		
		<button class="btn btn-default" ng-click="excluir();">Excluir</button>
		
		<hr />
		
		<form name="atendimentoForm" class="form-inline">
			<table class="table table-responsive">
				<tr class="row">
					<td class="col-xs-2">Protocolo:</td>
					<td class="col-xs-4"><input type="text" class="form-control" style="width: 100%" ng-model="atendimento.protocolo"/></td>
				</tr>
				<tr class="row">
					<td class="col-xs-2">Nome cliente:</td>
					<td class="col-xs-8"><input type="text" class="form-control" style="width: 100%" ng-model="atendimento.nomeCliente"/></td>
				</tr>
				<tr class="row">
					<td class="col-xs-2">Detalhamento:</td>
					<td class="col-xs-8"><input type="text" class="form-control" style="width: 100%" ng-model="atendimento.detalhamento"/></td>
				</tr>
			</table>
		</form>
		
		<hr />
		
		<div class="row">
			<div class="col-sm-12">
				<input type="text" ng-model="query" class="form-controler" style="width: 100%" placeholder="O que está procurando?"/>
				<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>Protocolo</th>
						<th>Nome</th>
						<th>Detalhamento</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="atendimento in atendimentos | filter : query" ng-click="seleciona(atendimento);">
						<td>{{atendimento.protocolo}}</td>
						<td>{{atendimento.nomeCliente}}</td>
						<td>{{atendimento.detalhamento}}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
	</div>

</body>
</html>

